.App {
    width: 810px;
    height: 1080px;
    background: conic-gradient(from 182.3deg at 33.11% 13.99%, #000000 -101.25deg, #000000 30deg, #3117D0 101.25deg, #000000 258.75deg, #000000 390deg);
    color: white;
}

.footer {
    display: flex;
    background-color: black;
    color: white;
}

#rec_played_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

#recently_played_entry {
    display: flex;
    background-color: grey;
    color: white;
    margin: 1%;
}

.sidebysidealbums {
    display: flex;
}